# Marketing Analytics For E-Commerce Market Place Company

## Business Context:

The client is one of the leading online market place in India and would like partner with Analytixlabs. 
Client wants help in measuring, managing and analysing performance of business.
Analytixlabs has hired you as an analyst for this project where client asked you to provide data 
driven insights about business and understand customer, seller behaviors, product behavior and 
channel behavior etc...

## Business Objective:
The below are few Sample business questions to be addressed as part of this analysis.

### Import necessary libraries

In [2]:
import pandas as pd

### Import the data sets

In [3]:
customers = pd.read_csv('CUSTOMERS.csv')
sellers = pd.read_csv('SELLERS.csv')
products = pd.read_csv('PRODUCTS.csv')
orders = pd.read_csv('ORDERS.csv')
order_items = pd.read_csv('ORDER_ITEMS.csv')
order_payments = pd.read_csv('ORDER_PAYMENTS.csv')
order_review_ratings = pd.read_csv('ORDER_REVIEW_RATINGS.csv')
geo_location = pd.read_csv('GEO_LOCATION.csv')

### Exploratory Data Analysis

In [4]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Adilabad,Andhra Pradesh
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Adoni,Andhra Pradesh
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Akkarampalle,Andhra Pradesh
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Akkayapalle,Andhra Pradesh
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Alwal,Andhra Pradesh

In [5]:
customers.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [6]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [7]:
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,Alwal,Andhra Pradesh
1,d1b65fc7debc3361ea86b5f14c68d2e2,13023,Alwal,Andhra Pradesh
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,Badepalle,Andhra Pradesh
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,Akkarampalle,Andhra Pradesh
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,Koratla,Andhra Pradesh

In [8]:
sellers.isna().sum()

seller_id                  0
seller_zip_code_prefix     0
seller_city               57
seller_state              57
dtype: int64

In [9]:
sellers.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [10]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,Perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,Art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,Sports_Leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,Baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,Housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [11]:
products.isna().sum()

product_id                      0
product_category_name         623
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [12]:
products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [13]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017 0:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,7/24/2018 20:41,7/26/2018 3:24,7/26/2018 14:31,8/7/2018 15:27,8/13/2018 0:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,8/8/2018 8:38,8/8/2018 8:55,8/8/2018 13:50,8/17/2018 18:06,9/4/2018 0:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,11/18/2017 19:28,11/18/2017 19:45,11/22/2017 13:39,12/2/2017 0:28,12/15/2017 0:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2/13/2018 21:18,2/13/2018 22:20,2/14/2018 19:46,2/16/2018 18:17,2/26/2018 0:00

In [14]:
orders.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [15]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [16]:
# Converting orders's order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date to datetime

orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'], format = '%m/%d/%Y %H:%M')
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'], format = '%m/%d/%Y %H:%M')
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'], format = '%m/%d/%Y %H:%M')
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'], format = '%m/%d/%Y %H:%M')
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'], format = '%m/%d/%Y %H:%M')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26

In [17]:
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [18]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/2017 11:05,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/2017 13:57,199.90,18.14

In [19]:
order_items.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [20]:
order_items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [21]:
## coverting order_items's shipping_limit_date to datetime
order_items["shipping_limit_date"] = pd.to_datetime(order_items["shipping_limit_date"], format="%m/%d/%Y %H:%M")
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:00,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:00,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:00,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:00,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:00,199.90,18.14

In [22]:
order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [23]:
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [24]:
order_payments.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [25]:
order_payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [26]:
order_review_ratings.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,1/18/2018 0:00,1/18/2018 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,3/10/2018 0:00,3/11/2018 3:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2/17/2018 0:00,2/18/2018 14:36
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,4/21/2017 0:00,4/21/2017 22:02
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,3/1/2018 0:00,3/2/2018 10:26

In [27]:
order_review_ratings.isna().sum()

review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [28]:
order_review_ratings.dtypes

review_id                  object
order_id                   object
review_score                int64
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [29]:
## converting order_review_ratings's review_creation_date & review_answer_timestamp to datetime
order_review_ratings["review_creation_date"] = pd.to_datetime(order_review_ratings["review_creation_date"], format="%m/%d/%Y %H:%M")
order_review_ratings["review_answer_timestamp"] = pd.to_datetime(order_review_ratings["review_answer_timestamp"], format="%m/%d/%Y %H:%M")
order_review_ratings.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18 21:46:00
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11 03:05:00
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18 14:36:00
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21 22:02:00
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02 10:26:00

In [30]:
order_review_ratings.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [31]:
geo_location.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,Akkarampalle,Andhra Pradesh
1,1046,-23.546081,-46.644820,Akkarampalle,Andhra Pradesh
2,1041,-23.544392,-46.639499,Akkarampalle,Andhra Pradesh
3,1035,-23.541578,-46.641607,Akkarampalle,Andhra Pradesh
4,1012,-23.547762,-46.635361,Akkarampalle,Andhra Pradesh

In [32]:
geo_location.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [33]:
geo_location.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

## Q1. 
### (a) Define & calculate high level metrics like (Total Revenue, Total quantity, Total products, Total categories, Total sellers, Total locations, Total channels, Total payment methods etc)

In [34]:
total_revenue = order_payments.drop_duplicates(keep = 'first')['payment_value'].sum()
print('Total Revenue:', total_revenue)

total_quantity = order_items['order_item_id'].count()
print('Total Quantity:', total_quantity)

total_products = products['product_id'].count()
print('Total Products:', total_products)

total_categories = len(products['product_category_name'].unique())
print('Total Categories:', total_categories)

total_sellers = sellers['seller_id'].count()
print('Total Sellers:', total_sellers)

total_locations = geo_location['geolocation_zip_code_prefix'].count()
print('Total Locations:', total_locations)

total_payment_methods = len(order_payments['payment_type'].unique())
print('Total Channels & Payment Methods:', total_payment_methods)

Total Revenue: 16008872.12
Total Quantity: 112650
Total Products: 32951
Total Categories: 72
Total Sellers: 3095
Total Locations: 19015
Total Channels & Payment Methods: 5

### (b) Understanding how many new customers acquired every month

In [91]:
orders_ = pd.merge(left = customers, right = orders, on = 'customer_id', how = 'left')
orders_['year_month'] = orders_['order_purchase_timestamp'].dt.strftime('%Y-%m')
orders_.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,year_month
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Adilabad,Andhra Pradesh,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:00,2017-05-16 15:22:00,2017-05-23 10:47:00,2017-05-25 10:35:00,2017-06-05,2017-05
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Adoni,Andhra Pradesh,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:00,2018-01-12 20:58:00,2018-01-15 17:14:00,2018-01-29 12:41:00,2018-02-06,2018-01
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Akkarampalle,Andhra Pradesh,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:00,2018-05-20 16:19:00,2018-06-11 14:31:00,2018-06-14 17:58:00,2018-06-13,2018-05
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Akkayapalle,Andhra Pradesh,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:00,2018-03-13 17:29:00,2018-03-27 23:22:00,2018-03-28 16:04:00,2018-04-10,2018-03
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Alwal,Andhra Pradesh,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:00,2018-07-29 10:10:00,2018-07-30 15:16:00,2018-08-09 20:55:00,2018-08-15,2018-07

In [92]:
orders_.drop_duplicates().groupby('year_month')['customer_unique_id'].nunique().reset_index()

   year_month  customer_unique_id
0     2016-09                   4
1     2016-10                 321
2     2016-12                   1
3     2017-01                 765
4     2017-02                1755
5     2017-03                2642
6     2017-04                2372
7     2017-05                3625
8     2017-06                3180
9     2017-07                3947
10    2017-08                4246
11    2017-09                4212
12    2017-10                4561
13    2017-11                7430
14    2017-12                5603
15    2018-01                7166
16    2018-02                6569
17    2018-03                7115
18    2018-04                6882
19    2018-05                6814
20    2018-06                6128
21    2018-07                6230
22    2018-08                6460
23    2018-09                  14
24    2018-10                   4

In [67]:
orders_.drop_duplicates(subset = 'customer_id', keep = 'first').groupby('year_month')['customer_id'].nunique().reset_index()

   year_month  customer_id
0     2016-09            4
1     2016-10          324
2     2016-12            1
3     2017-01          800
4     2017-02         1780
5     2017-03         2682
6     2017-04         2404
7     2017-05         3700
8     2017-06         3245
9     2017-07         4026
10    2017-08         4331
11    2017-09         4285
12    2017-10         4631
13    2017-11         7544
14    2017-12         5673
15    2018-01         7269
16    2018-02         6728
17    2018-03         7211
18    2018-04         6939
19    2018-05         6873
20    2018-06         6167
21    2018-07         6292
22    2018-08         6512
23    2018-09           16
24    2018-10            4

In [112]:
orders_ = (orders.join(customers.set_index(["customer_id"]), on=["customer_id"])).copy()
orders_["purchase_yearmonth"] = orders_['order_purchase_timestamp'].dt.strftime('%Y-%m')
orders_.sort_values(by=["purchase_yearmonth"], inplace=True, ascending=[True], ignore_index=True)
groups = orders_.groupby(["purchase_yearmonth"])

In [88]:
groups.customer_unique_id.nunique()

purchase_yearmonth
2016-09       4
2016-10     321
2016-12       1
2017-01     765
2017-02    1755
2017-03    2642
2017-04    2372
2017-05    3625
2017-06    3180
2017-07    3947
2017-08    4246
2017-09    4212
2017-10    4561
2017-11    7430
2017-12    5603
2018-01    7166
2018-02    6569
2018-03    7115
2018-04    6882
2018-05    6814
2018-06    6128
2018-07    6230
2018-08    6460
2018-09      14
2018-10       4
Name: customer_unique_id, dtype: int64

In [ ]:
total_customers = set()
new_customers_details = {}
for (group_name, group) in groups:
    prev_len = len(total_customers)
    total_customers=total_customers.union(set(group.customer_unique_id.unique()))
    new_customers_details[group_name] = len(total_customers)-prev_len
new_customers_details_df = pd.DataFrame(new_customers_details.items(), columns=['Month', 'New Customers'])
new_customers_details_df

In [117]:
total_customers = set()
new_customers_details = {}

In [122]:
for (group_name, group) in groups:
    prev_len = len(total_customers)
    total_customers=total_customers.union(set(group.customer_unique_id.unique()))
    new_customers_details[group_name] = len(total_customers)-prev_len

In [123]:
len(total_customers)

96096

In [126]:
len(prev_len)

TypeError: object of type 'int' has no len()

In [130]:
orders_ = (orders.join(customers.set_index(["customer_id"]), on=["customer_id"])).copy()
orders_["purchase_yearmonth"] = orders_['order_purchase_timestamp'].dt.strftime('%Y-%m')
orders_.sort_values(by=["purchase_yearmonth"], inplace=True, ascending=[True], ignore_index=True)
groups = orders_.groupby(["purchase_yearmonth"])

## for counting new customers in every month -> get customers of that month and get new customers in that month
total_customers = set()
new_customers_details = {}
for (group_name, group) in groups:
    total_customers=total_customers.union(set(group.customer_unique_id.unique()))
    new_customers_details[group_name] = len(total_customers)-prev_len

In [132]:
prev_len

96095

In [131]:
len(total_customers)

96096

In [133]:
total_customers

{'b46c73397917de0e900df2adc02d1e2d',
 '2be849e7d8e78b789a8dd50b12833dde',
 'c9c7f143771017a9c61af26f7291f7a5',
 'bf12dd43e2ae8a45b393a042fe552231',
 '58c5b67c61ad021f18d92170dea1d75c',
 '2f76c8ac8310a38b82baafddbf090db8',
 'e1463dcab2dc0fbacca56679b3dc3892',
 '432f0de39d1889469a635e290206a42b',
 '9e30b232ba6ef1aea396bf9c64b71e89',
 '6538051b11a47e275a6d8d7767f289a4',
 '1d441954acebde8f2713904082a1c9d7',
 'd4ef8b824405990134793cbb322c686b',
 '305c985de11e20cac5c0780ef4d6d1f6',
 'ec52b1faabdbf0cada253810b289d48f',
 '7ee9e6c80bf1b7ec4a52639eab6c128c',
 '22e35adb0223a13bf4d54950a468551e',
 'e0f7d1dd04e7fd76c15d841b50e66f1a',
 '767e0ad33a0e895fff80604570c885e0',
 '9d5e7724b29739c763ee8a7e52689ffe',
 '23873697bb91ccf9a51ef84f375e8590',
 'e576829be95d0ddf213787a353f14bff',
 'be7816f461c5141d0fd0c0048e9aae51',
 'a45d979b922345a95d83a8905a303242',
 '3ebfa9825219ae06ebc52318830437cc',
 '7e306a7df32b2e8b890c0522e1bb0251',
 'edf259b9c27ffd85a54ac0b4c9a9d0c3',
 'e35a835129a95e9bdd82d2274258ce45',
 '82e3f0d7b2c48afd0fba624437a47b86',
 '58aaf012cc88d1de4b976f45e059ddf5',
 '705991ad0d3be77c50f8a55da124d6e2',
 'a71cac9f356cfeb9db35061020806212',
 '3aa9d1b3bed215d6bd320754c51e7b43',
 '2f800f604ce609f0293a9d84e7fc12ed',
 'cb62e99d50d6417e5e9ab9a5631ab29b',
 '1e8d38254b74212442ed7c9f40e71c26',
 'c26193152447646760844936b39e08f7',
 'a53c4c61a482813ba1bec18d2ec7c6ba',
 '8b51f29aa215ec74a25baf5bd24ed90c',
 'c957d1415d5b3bef70575f7de3a24434',
 '9ca827c6f2b4068619212d6809fc64c7',
 'd0f146964d5dda4a7f837b5d8198d4ad',
 '8819be7d0039db445ba2f771034bb1c4',
 '64653108333e6e438cc0ab52fb9ae8f4',
 'b9c403175f57580c5d6e62913bb17f6b',
 'b9789a3e295d180e8547cab255c5f24c',
 '15373e1af6ccceb6dbff6cf49a4ca9a4',
 '52c68003c255391fe1409b1fb084fe54',
 '82fc16a18a1d9ca6b49dc067f206fb2b',
 'a5b2ca966f11e3e45367d5a9f27e335b',
 '7e8e9e4472228c27e5743df7fc6dce05',
 'fceccc1505da8b7d0366a0f408a48a0c',
 'c6c431ac2e6fb4433711fa86143dc446',
 'bf9d60c2fb1a8b2734313b9b6e211668',
 '8da56d006743a70098a597b07ba7c351',
 '0ecd96d106724c17375912061bd5af84',
 'b269cc05ca02159cd809220c6d57a7fc',
 'b9de6cbcb1cd857c55783e3d6905ea35',
 '6a9e853833560b04c8551f356b02ebfb',
 '437e41dea647ab7790722eb277c1fbc6',
 '90278a30e6e062baad509799e30ce3e7',
 '33796bd45aa1db66cc99959662bdd2b7',
 '3ff874206f1d7d1e3ffe12bc9c88c27c',
 '4434e1cf18f189d86a659cf9ab3f57dd',
 '94277998dba3020487abcff76ed3cd11',
 'fd3ca4b3072620f425dc5968d5597c06',
 '1e22f3ed6b90761e51cd6b0849a44a31',
 '914cb503fd36a7c0c3bf4393149b05db',
 '29777a4fdc131eece4837620316cdffc',
 '03b5396aea7c5b5c58ebf33e199b1a06',
 'f01b4b96ae0652705993e6ed8451996c',
 'e81329805762817bae11b3ccc4f23c64',
 'e6615a6b892c0ae58f8d1e1bd8f1c609',
 '6b617f3d18018923e9c65a8bf2e8227e',
 'e3e0e9112264452e4700d977ce02a4d1',
 '8be4adb7950a25c1fe28d133ca640cf3',
 'ad2ba9ffc25294bd578b5662b79adc2a',
 '91bd1731b3e980852cf59e0309295129',
 'ddb9c76a88db1c39e15a8a044b6a7e1c',
 '5ac4bf5c7946aaa4c37893300a46e9e6',
 'b133a3a7e60d02d01b9d4573061f96b2',
 '1187608bf0213d8c8314592e6b7f3b7c',
 '2991acef9d130e62674c3d85a916323c',
 '171a4702adffb3df216c93172fbe9c03',
 '3daa2d65a4f01c233f5da9f4381025c6',
 'b8801b6ed138b39783c0648df02fb94d',
 '1d41d4877b1d13802db2a5cc6a7f4e64',
 'a817de74218405ce5976d862b0b2fb04',
 '931f73eb317aa12c10e3fbb2a7a59650',
 '2b4f3f41eeb66df3baec10c746243dba',
 'f2664df107458682fd86383ad65912fc',
 '4126ee95b7096d3383d3885b8180c567',
 '1463a7565f8996c9b3bac10c3c674a8c',
 '6ca6ba9784c299b15a7ffdda7bae2927',
 '8a8cb10ec19cf7f2704907349201243c',
 '0b16886fbd4636b3ba85d357ca317732',
 '6149c170ffd63d39b687f9c8632c2be1',
 'a10ebff5171e4fbd99d9c92c8ed4bf8e',
 '8d4579526cbb0bf83069597c9c27533d',
 '48dfb1ef4302af2fbe7327e379ac9903',
 'eb240714223915add224beff2d844e53',
 '3a2b1efd95b06dcf7ff5b04c1795e6a1',
 'edac80abf96da8331ef155162e07afbc',
 'd42f8f34f2ff6e53af4bd4a40f6d6088',
 'f110e877b3695aeadaa602a2b8d8a6c5',
 'a4c10d770c0af2b5e7eb9d35900eb329',
 'aebc59e8819e9f43d427e3d1ec19e3c0',
 'b431ccf71994c411287941dbccf54ca7',
 '5bd7cb3c37bc312786b7b16d99074356',
 'ab1a705739ee9a4f0dd7c01ded29ac10',
 '535c1bc29b3f8a2a5060ff4792665e3d',
 '81e260288b8f6969e6ee5d5dfa7284bd',
 '27558f96bc671d0594c60be61566aeb4',
 'fdbb6178e0fae91c15cda0b59d437487',
 '5c2f47dedbb16d4155a8ce7f639fb25b',
 'b744823d1257c2772b688d040b34423f',
 'a3da3b053d29f62917712f2b12c8f9ff',
 'cffd0d926993c9d808811cbbd8b6b72a',
 '6970a688df55d8db6a5c3b531aedadaa',
 '1fcc678e05cac2f2cf25563977d488c7',
 'c0cb011af2803a994e4f6e12c19caf9a',
 'eceb1256610892e77f328ca3d8a54dee',
 '6f984cb70006e5af276f7765f3eb3992',
 '39ec290b99d3f51dd92e2c2119d23045',
 '860251114960c25499acca49949b1f12',
 'f6ef9d933dcab3dfdb6802d24037deb6',
 '2bca5fe01d46ab5cc2bc5aaade88d850',
 '2cff422ea56f68a1e1bdce4371b88d66',
 '1de2c7d4f6c4c4a93ce7eefb314e6ba9',
 'd12a206aeeb2ce2a7138bbe43244f212',
 '7c2c6831120f7c1aeea02c264e7012c3',
 '33af0bbf265311b13bf09d859309b52b',
 '95ca2c58fa0c3425b47e477d1c7bb829',
 '90445636126e4dbeacad6c7ec24e4c16',
 'a694d32f77ef3b51fac251f40b0700ab',
 '9b8ce55666bd674d92cf355e39c88d35',
 'e71621a6618c9176b4907f3ef0644e2d',
 'a1639a426ff70ff47ebc24af426b3078',
 'd535100c2f6bfd9896b6bf27703204f6',
 'c23f26dc7573d33b66a4a897b5d22735',
 '68df5ae3292acfde45e8071437a920b9',
 'cf2eeb3d980701df47a96b80b31bd5ce',
 '3a410d8f6209fe24eb8e1b3feb1fdbf5',
 'c3e2a2dc43446940b84168b34ad60f47',
 'c345259a79305d124c78cd0fe8fd1ef9',
 '4847d361361a3440824346865cf03f83',
 '908615aac51d5fa23f383006e55fbc4b',
 '90863ac2acd35a280f041bebbacdaa62',
 '89f0f964099dff599188375bdfba07c0',
 '1c64d85daf1ebd54fecf21955d6477df',
 '49bc0626a157c65e73517de0f853caad',
 '1e58bb2e8c2bf75bf837008ad1c1f433',
 'ab5d880714aa9cedc0c4d7e1b9fcb18b',
 '09748c5c5087b02d01eebc0c1bcd8692',
 '69ec8b9315b21409a9e1619ecda8c8fa',
 '86cf5a0ec4232cd20f7a05bf4d33e0e2',
 'e1282b21a0d9e540144c2888a4ad3cb8',
 'c7f21fc1e9f79243880476a702534a1a',
 'f0a1a51727e953540b3edfa8e9a9459d',
 '46573e1e43bf117ec3e2a0452f7c82ae',
 '18ef211d78482b9f5e0a138993d6d4dc',
 '4d34abf1db61181563c31fbd723a926a',
 'ceb9cd47dea298857207934eef12b8dc',
 '1356ed37fbb918d791b255d9a9daed07',
 '03e8a26864627ee0c7fb470b46cbaee7',
 'a616efa5c39f96dd2ac56f99b4b3b14d',
 'c0126bf681e55a07cb86c35b0b88af95',
 '8330487414ad3eb5e05a6a8a03272b34',
 'c4555c8838fd8c5584ed2d818124f16a',
 '92f57e0ece2726703123cbddf69daaac',
 '10d3d4dd023f501f45fa8298a59e562c',
 'aa8931c4af49a8270a4fd9e000b7bf01',
 'b131ec5e2352ee97d68e647af30a971d',
 '2ab36ff262a58b2671737325a4800883',
 '1078e94cf34616919e3edd12a8d8dd2a',
 '89c8a3640f26f91454d56890c470adbf',
 '5944261728e612d07e223a7ea4597315',
 '9a90ba7504fc1b381d24e5ba311e9ccc',
 '85a8d4dbd48bdbfea91d61cbc16daad1',
 '13b3c7d850981cbd04c2f1aa8a85bf4d',
 '19de4cc79e2c2986e70b155b7631f61c',
 '388faf71183c52b5862abbedfd00259d',
 '6998baf2e06e2cdcd31c045bfde5c123',
 'd5578bbdbd75c1f6ddc549e009b5d618',
 '0f700cf8f23d5ffd9f3a034132c1d84f',
 '6657a018173bc1a9071b1c693af95579',
 '21560f93adbd9ada040a40909ac8619d',
 '74402a7740ee6989f349d7e491be8a68',
 'b0ba54f5aa2dfde39043ab0a7e572bc5',
 'a201226500f99d87a10338b912ef6dd2',
 '8f08cce7e75004fb904db0a3fc1fb800',
 '4b7b262e2df71ca506b83ac178e37e0f',
 '1c7acdc2f369d7a7fdba3a021d372bc1',
 '5a2dd188fb9a8d352f8a3f3fecfbcb8b',
 'b5af014e40c268001da9ad09bb7523df',
 'f3edd7250be200f6986b3debffcc2f66',
 '11f76b400f90c00c920bc0eedd4d598c',
 'd69e7376cd254c900729616e75624e12',
 'ae2189793d5c0004461b896e52abe4fe',
 '9dc0bcfa8496ea146adfca26ce1ce551',
 '7293e0b38ab0dab128e6bfb7239c37ad',
 '22ae472296b9bcc82fadf28f1568f4f8',
 '9646d06f5a4d4f83d8f97032ad4ccc22',
 '66f271f1fcea9468fbaa6aaf5f78bb73',
 '95aec963a6193f24401417870b648031',
 '4561d997178b39b27c642f0d23e0702a',
 '9d24f678ee98bb5e947d54918a6447f6',
 'f92e624e1bded33b98e3a8bc0095812c',
 'f26327ec6541f1c2aa119fd0d02a351d',
 '5f45aa4ef9b8fb99b95d33a970bb64a7',
 '0f2a2b4517c2888720934e5ee58dc30e',
 '43d9f142b1db42ce08a49f2abb794d1e',
 '211aa8d509375c6f7b3936639fde0fca',
 '6c3974f2a296fbcb0aa071279dbf6f24',
 'ec926d74ab971660d5584693e3c317dc',
 '4562ff1863c6ec3729c71a3162ef69dc',
 '91f10558da786019ebe471d3ab0dab5e',
 '562c19b096d4d6f3a5bee07d8d8ea10d',
 '108e63f3c5e4e864bde7ff1916f5e92a',
 '2ea138252e398496437ad1596662e56b',
 '8fe5c7e8a5db0b3454f478dba0dc82f1',
 'c2cee82a4d95cb08a964f8c6ecfe0218',
 '2ccbfecb5f5c6b8d616e79abec45c0e0',
 '6a1789624e4dd9c4e708f5f886a65160',
 'f0aa9a24f330070e4bf9b5320c898ce7',
 'ef309784561fed416ff25e05ddfe495e',
 '532155a7e1214ecd05d6c445e3354bc2',
 '7a41a033d1171fe68f363c2a2c16d448',
 '0a9c8f61b7aad8a740b0bc4219693f90',
 '068b73f9995e1550291624093d1a2853',
 '657672c97a01b0aa5d8d417e75a57f17',
 '5e093be86aa4039c6d9eaa146d54c64d',
 'be85a442ce2240355c868a2637682399',
 '17bda99b9213ce97c87ba6ced32e791d',
 '97b2d5bb4efa38e719b68769a462aa9d',
 'aee3ba1f1556734cc5f1fdd8ff225054',
 '333f0953c0d19e775810eae5dd9c0c55',
 'fceab0ea1003563686037d3ac74081e8',
 '8c0386035e15f02612c89d29d7694b41',
 'a5c06fe695471f91fec7c41754645061',
 '707c5b8a449863c2295db0b921143e31',
 '176d02f8cd5f4b1be1486d07509ee2b9',
 'c431de9075ea553ff0168e19327fb554',
 'b83281d34a0f64fcd9f2a825f5a86514',
 '0e922f6fc526a5e89ae5b96df681a792',
 '22230b50e048336ce722960a64e1c873',
 '81978a4296d6dfda023d617d7695a9f5',
 '910643cca3fe574589d1e0558f482ebe',
 '1d5284bd00cbc010edbde9788912dfec',
 '3219cc23b3383c61bec7205aa614e778',
 'af0367eaef2463aec1807b755fa083ab',
 'f59f412c52fbf5fb82ef139d666cfaf7',
 'd61da54669a7bb0019d2370c1e58ba56',
 '9ab2ee475b0b0398d2c9b9a5347ca531',
 'aa4919acd3da6c99755918ec0759e7a4',
 'ee1120b9ea8a90182ea6c2543f06e3ef',
 '02eb2837e7302e52e996ebb4515ac3c5',
 '42cf3a7b1d977080526b6af130c0d7be',
 'f6398411d07718fe15057acc390c151e',
 '0561627154992057c23a3630478e6a44',
 'dc2e4c590a48a3c318d9b126f43b4076',
 'ddbc18ed86e1049268db81f16116d2fe',
 '74798b1ceb57125a2fa0b088f0e811bf',
 '39dddcbd76319f479030f4d291ef9592',
 'd99771b5a877f150d696b9474e4d5b36',
 '4db1d5d57fc6728dd493b075a989fba5',
 'fc5cc822d92bd904e3faa83daba6fe5b',
 'ea8bd00f6ef1d0351a5f0897b0696f45',
 '287a7cdacbcda8f842d7719e77cb8457',
 'c53f870eef7b5957eda8fb54d4a6e5d2',
 '52a49510aca0ca346a65cedf7fac9d60',
 '0a1d505323970813602fb0a7c50aa484',
 '86acdda03ac3e4931e816676eee546d0',
 'b3bc90f2b38301ba48cbad6ef1372d1f',
 '424336b3be9575c9265c4ccdec2e754b',
 '645f6703f46a173dd70f5ee24ea27176',
 '2b5620d9b3c131ee3397ac8d950e050b',
 '4eaa7b320f62557958f289a09f1cf919',
 '4542276cfe4f43f580a2cfe631520984',
 '0ac587a29870f6a1e3e593834c51a762',
 'f81666dfc8917d9a072177c9b82e4f7d',
 '219bb2c5adf87259d3018f6f14220641',
 '55dd84a1fa2885353474707ea7343a9f',
 'ecb80b0bfe3fe9140d314839cfb3a7df',
 '1b1769eab99217c9a006c25b7702bb3b',
 'f33469c09e20f0a4908a84a1296ffd4f',
 'a3631b903f909b6749a452358116cf86',
 'a6d5806c529a9c93a116468d58649ff7',
 '9445e4dd2324226ebcb8a09243046a76',
 '9d9c3d5d3f32faa84b583fccffe294e7',
 'a9230d79e397fb71fa526975917bf449',
 '508ddaba45fe7b249c75956added1b79',
 'fdc6c69811ca8a2397ea40c0d08913eb',
 '90a4155ff741f30c5321018d12d4b43e',
 '88f1115b241198e4090c69aed8bcc20d',
 '7643539428febf6ceb340c122b3514bd',
 'e668e6ddbe00d7a04540ebb0c5647faf',
 '1f98d2384ff7a372e6a2d3bb75cbcd54',
 '7ff077542c9ad55ad5c8509ce1638f0b',
 '8c03ef120e5bc1a1a6ed2996c2229b11',
 'a45cd739193c990570114fd33532df4b',
 '719a09b8a1b5dd4f44c6f7a837476231',
 '76d91370df3ad38269e22a53edfa6f8a',
 'a66e732e52dbdd1ce3abb613a8ed1de0',
 'e56a7f48f75331612d3423dc8e221dc5',
 'e171a4ec0e867cac0e195ff46c523140',
 '6ad46014a4203440c38e3dbf7aedf51c',
 'db6232ea09754a4b150da1dafb82fe45',
 '4fb0b7d66f3fb460536ec2d7e448cc74',
 '0180d29fed77d26d59490f37198514a1',
 '88dce1db26fb77cc2651c243c8205dd0',
 '24d9e83fe11e4390b69e1afb2b93f5ee',
 'f8628a4efe561643a0bed9b9e87864af',
 '9ef4b197ea9652dc0f0f5e834da66707',
 '36db4b58abc5caca12a0dc27f1186100',
 'fff7219c86179ca6441b8f37823ba3d3',
 '9767561f8185197b129c1efb62917f45',
 'c496d3ccdd7d9dce19c623dd75a6b5b2',
 '85b190008aa5c8b7faa637e6b33552de',
 '1c1af88994e4c789f4bed27146e22de2',
 '9782ce9e14abbc8ba2efb435adec8e55',
 '10c9d49e1995f6d2d2ade8e4793086f9',
 '3abcdd9f2adabfc152ffc2c348ab5644',
 'ff5017601705e932d5545e0eb337cd0b',
 'a99d07e7926d15a5dee972cb47a9c0a4',
 '4e615dcda92914d741bcb91496c9794b',
 'fb51f201e03ae4c1660697b469f3333f',
 'fa1049d3d8b2b166ffcec93059d86019',
 'ac569181f34fcfe9e901c8e0da786612',
 'e063ef265d53421046ccf982e627d690',
 '0bdd1a354e08db2cd690439b328c1d8b',
 'a402576f8c348a51dbf00f9a615737f8',
 'c00b72e6e187ce997106fc5270659eaf',
 '9230d476bb769173246f63a45d0000f5',
 'c400e8b4b9b09c840845352f51bd9add',
 'e64494c8d47715e6604862013761e07b',
 'd76965a36ab182a9233aad7e5193cda7',
 '8c8bc67c372d5c409fbf1a340205ddca',
 'e4581db1c4dd6661da43be4ad4275dea',
 'ed8f9f65799b0844c21b87c0ad74f57f',
 '8e7c51c145cb77c82c1cc203dd683390',
 'dff3b582aca1f1f169f58f0952c0c1ad',
 '9cb9e18ccdf5fb9abd08122545888873',
 'f261a859b60c37ad31e4b1e43725e965',
 'cdd0b72a5ca49a715c3636ef66df1989',
 '3d1f69f6030be428fd465966baebe76e',
 'a841fb573d875d9144d47ceb57b38207',
 '7f909384e8c77e263a09439147d90bb4',
 'a083c28c3702c3fec9bad7af2cd0c38e',
 '8e6c3249486634f7ba5d99b009c608f7',
 'aef1db2c61a9e712fe5a0ab9fa4f56be',
 'f71f711f287055ea2c1311e4cee9310c',
 '2fb76804eca95a9fdcaae30febca4cd4',
 '1af28a3c717ee367ac8e4ed5e03d21ad',
 'e382875931fe45be2232c9dd85e4fa1b',
 'c7f407b9a6ab63dd8cadee5a5f7546de',
 '982b0a3006185dcf754de593350cc8b4',
 'fa58e11c149d7e903dbe5f6c854277e7',
 '527ce1ba77a9b3d5ca00579719efd7b8',
 '2fda187cd4d79d3c9f69307821499b63',
 '859a9b67726d9c9306eb28b8938c59a0',
 '5e44fc472a1f02f6de6ebd191f1efa46',
 '9552e483569676e72345f4aab29e4f5a',
 '541817eb0cf6fdf6c6b111436eeeff2b',
 '30b25e94cd8582e92ef193531bc531b8',
 'ea307149babfcd8c426059ca8482558f',
 'e2193db5f97b80eb58d431e84a70b88a',
 'd8dc3e83600173cd56277eeebfa83b05',
 '1d3518edbf7d1c22ce7515aa11b53fed',
 'ef4ae125724cae06f46da6a302c610d2',
 '449526ece6fc45753e2e2e523065e6bb',
 'f5add44bf786bd861fd6108d400cbaa5',
 'adbf59bac0b48c344525214b3a47dcee',
 '1bd213456a494763b9c15492cf4d7005',
 'c933181d09535cb6bdfb1c0160323bd9',
 'c6a49ed851473cd57dca5baa77595fe7',
 'dd2a681b1cc42e93cacd6c4c93166ed0',
 'b9f7214499782466fc88f57d5c58d84d',
 '6c4e5fafa5368d585420a705b9582df5',
 'ec4d3f58a02a9b6a80fdf59418416b5f',
 'a2a92c5ebb1fc17a98079368468df1e2',
 '69ab784981f3fd46bc5f65a70c220fdf',
 '055dea13a2432a22c8babd5542d9d567',
 'ac507528f385811a6feb0e3e1fe0afad',
 '8e79ff07d71a7fd854788f3601f2ab07',
 '03d73cd84b44ec9fa4b642f38964236a',
 'e177f3ef38e3b40f5c08c7a5a1cfb249',
 '612dc2246f3f59e4908bcf6b80825c9a',
 '9dfb7929049455ca5ecd4b7d154b84f7',
 '5a251e558f417f2e5d021d5f0af65bd6',
 '53fc6138881d003807518bb2f5041c07',
 '272cc626226c97554c44fb1bebc2c75d',
 'bcbef420bf55cfbca55313ff55af84cb',
 '71d0382f0bfa45d9cb75d5d8c37561a8',
 '669e51e4170c3e92777e610e36b708a1',
 '6b2eda2d6bb34893e1130fa9d7a1b9d0',
 'dc8424be33dd1873250680c85a3b9376',
 '26e7f29d019a18ca03fcdd0104432829',
 '4f42c1f9500147ce3ec31983e207f52f',
 '3d83e5ef875fbe2b372eb472a6528146',
 '283063314878f07e456a770175190194',
 '50f3f997a16d24ccd33410ca15ca7663',
 'c6e699ba5f1afadd08deaa3bcf509954',
 '7659618a78ef6a37c80116d50c2ad901',
 'b405e3156bea0a8357952361f85ba3cc',
 '707a5179306d8c8221d739592a602ddb',
 'b9083d4ea470d8ab18c72b357be07865',
 '0b53fbff0a78346548a4dbbede242150',
 '1d19831bc078c42de4b0fbc1d1dcd99a',
 '7d49da9819094a2c022e99bd3e7962e4',
 '8e6ab5e2e1df45abe35e2f0eb16ce764',
 '0311af7210c394f67fdca2a473045be7',
 '5bb42b830bff3dec259d44a9042c16b7',
 '670a3140c8ece3f8978ac5989dc8765f',
 'a82f68cdaf7c3fd81b08cd60878d3fef',
 '03122c028e98da49398ab33d1835e776',
 '39b449c603f6d61c8c085ad3843d9298',
 'dc792b0939990dd49f76dc28077b8fc8',
 '62ef6be676b19130130106330a02b4f4',
 '5b89d722f7f9e8a96939fb9324f39ce3',
 'ac840a3dfb8d954f61630f0fc84288b6',
 'ea1247ecd4957201f8b78eb029ea5dd7',
 'b7299dacab794561f5843d4784478d4a',
 '871f04508eb8336a8e7a7289e8b3fe7d',
 'f93068aad08d59c624572efa455b976a',
 '8f4a36b13c3a5db56b71d639d333b12e',
 '096b79c3e26e6314ad27b2d346b9fefe',
 'a9f6361710e18b2e3397137d69aecd86',
 '2da78ae34b536da727156c89276bd3eb',
 '8d847881bf6070bd4da90abef2eaae89',
 '15e7e4d87c7e7efd6a32b9dc8704d675',
 '569c152d1e17fca38dc2884295641ced',
 'bfaf9fffb568b37a0c01e1d317577b5d',
 '906dd75072c23e4a71fe8bbb48c64066',
 'bf6609b2b07c4a40703229929ea1b61a',
 'ca50300f552f1bc9b5aa898a29382d69',
 'ba48b0b5bd1a6456a074b95c873cf952',
 'a6a6d562bb27eda786a3df935060248e',
 'd2787622df9fd933c164f7cf696a4e2a',
 'd0ed9308bbe21930c658ae7a063d040e',
 'cefc7ca7e5539436c9c83eb0368e3131',
 '1c13ca81bb0f2a3041aef3c22b32b922',
 '6c06cf546fa6618d971bdbb8199afc7a',
 '8ea127cdfebf2952bcf1314cb10ec98c',
 '92272a7a0e11f7d949a982e647a6d286',
 'b1392563c59e549bb83fb81ee4a7fdb4',
 'e5adecad20d898d832d45cd9bc0e9e98',
 'f5dc8f69191f145ce355f14b90efbc85',
 'c5afdb21fdb0a3e8c4a55742dfe7c644',
 '2c3abe11b28008b0881b785a844fbb8d',
 '9ca6439ec56424b2717501565e0d5689',
 '2a456aae65c24e15428c2f8e39367f23',
 'a5ff7e4f0cd1ea64c171a172b4cbe43d',
 'f24be44b82d7396af2d32b180e8992c7',
 '733858a1e2e63a8b9e193428dc5aae57',
 'c2ebfbb42138943376b1e131a832ef13',
 'cefe8df26df3308f75ae27c0dcc3cac4',
 'f2eb0121c500d1f5cee8f5506c8b1ce7',
 'c12d513d1bb53866d005b2ec273bba31',
 '89a849f3bed91ccdf5e59901d0510071',
 '7804eccdf70fe6377d097b4ecc73a5bd',
 '01e0008efc8b3804e274ff934ba017c9',
 'dce45a384a6b749722f5d324f68aa7e0',
 '29db8a5d87a8a68aac9e2efb68bd67b3',
 '7aed54ede61d75cfa521558f286462b8',
 '3bfab9c819dc90972418b141ef1f29b9',
 'f9a19bbde55fdbb899189f8c71272570',
 '386699025afa0580bf01652b689f16b6',
 'd0af770f00435c5ae81312dbcd1656fa',
 'ff8eddc3ff272a5724e2ac6635cb7df2',
 '6a69c3f236af1a75bd107992c70f1559',
 '9a0e6d66161c523da1c2aedf95885bac',
 '33febb33a42a35f5826a22584b127f9d',
 'e683b2b068d7a63277bf964584899c3c',
 'a43b5a68a77263c347ad270b635901be',
 '14cf1de486a8a3a9373a4eb38f8f5506',
 '34e8f217a80ccf05d7f69a2c5a1f9039',
 '8de585ff90190c86a3316cab8e004c4d',
 '6f004cc093e223ff73ebc64ce5f4ede5',
 'fddb81302fa13caa643a9ce680ba8ff7',
 '6efd3075e984635f59677f3a5492338b',
 'bc129fa5a30c1e9f64d840dd6d0e574a',
 '6f72c9a82fdcca4fde09203391d2a8cb',
 'fa424f620a92cb30969251875d785b2b',
 '36e61142062289a6a0c06d04fd4a90f3',
 'c59a973e3f2aa9b5bf48c47aea234488',
 'ca08d0147799e1527699515218c198aa',
 '114dd55d6b883ed29636e4c66a412628',
 '3b37ee52b62d30f0ffe0fa80bffc1467',
 '65b87baced94a6308da56ebbdb440544',
 'd6df11a09268dc899377f7ec02511799',
 '723760306f7a15ad72dac1b300eccbee',
 '5cee43d9514db230389bcc71987da865',
 'ae9020d0cb721be3d5ce58bc144816de',
 '3158fc4f60ca92412de397461b64cee3',
 'dc25777eb31c1b928d00a6b8b857f5ad',
 '592d090bb075fa8fb9d6aa816a3ed86d',
 '336e53f754499bb72dc4a21333c898cd',
 '482c777982803c3965d28764b9d80270',
 'f5b8b538be876b72eed481df8b75ec42',
 'a1843144981e69e27270eb08d402b12b',
 '15a52a044cbf18c87283f8c460ad5ccf',
 'e65e882df8b8a0324e3ce1845a79a797',
 '61c3fd07327ec16b2905df628426d8ef',
 '3af91c25f393301d27ccd39bce43f29d',
 '30671808d6f5ac8b966de1a9e2fb9063',
 'e71171eeade6817934b029b90aa075a1',
 '76cbf988edc7dadd062c802c9f1c6021',
 '44a90aebe64383d8d551ddd72bac9274',
 '77e7ed9f9f4def7f01e4213f9b1787b5',
 'de94076bba3c66ffaaa867d14a663cbe',
 '6bbc8dce928528fd3ab9207ed50f6aef',
 '2f6bfa6509c44c47a19d724930a66a29',
 'a684d81ebd52f93260b617b15dc0ddc0',
 '2b8c0252cc4c14948593ea12016d3fc2',
 '25b41865a6b1e3f345f543dea12f923d',
 'b0fa47b10368121c5f57a03a64414c0f',
 '4795256d9c0959d639c3e8cb2cf730d2',
 'a96d7918dd2acf81b73291f82cfe31dd',
 'f997a9a613238f71bd6e26eedf7bcd1b',
 'ac7b071fc00dc5ed165bc5a3a9192aba',
 '931e929b771e34ff95bbce281c733e3d',
 '4d191bb8e1eea602e77b4ab62cf4daac',
 '4ceed192fabd028ad5ce2df4d1a50c13',
 '93ce42779f1b4ef4a6329e31960d3d5a',
 'ebe981a1b4ae51ee6e244e207acd3562',
 '1600975a9c11d5940c7f558c7223fc33',
 'de6150bc32a048990e6cbb6dbd3825bb',
 'fde93c2ff20a5d3e3491b6d0de6c45d3',
 '970aaac1ef55c68b39ca7369783d58f6',
 '843abcb42649249d4e7cd63954c3e0bd',
 '164133bec0d572ddf77cd5dc7ab9c3c2',
 '18f4b2b0a9d6b393ffea532c2b8d6e55',
 'b87b0071e55738a3e261aae59cf211be',
 '5dbba6c01268a8ad43f79157bf4454a0',
 '10e3af8b8ed65dc25dc02dfbcb562504',
 'c230f2d1f2cae43649f6ae7d469c9203',
 '942ce4fa8d57be9e937ff85bf3266467',
 'a88ddb886ec892589db987f01cf9b747',
 '027d053c7d8203f3ebb4512da23681fb',
 '947144920f2e452e9ba866bbf6d1cbd2',